.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letters-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    height: fit-content;
    gap: 5px;
    width: 700px;
}

.image-style {
    width: auto;
    height: 400px;
}

.revealed-word-container {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    margin: 15px;;
    gap: 10px;
}
